 <mat-card class="unicorn-card" >
   <form [formGroup]="updateForm" (ngSubmit)="updateUnicorn(unicorn)">
    <mat-card-header>
      <div mat-card-avatar class="unicorn-header-image"></div>
      <mat-card-title>
        <mat-form-field>
          <label>
            <input matInput formControlName="name">
          </label>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <label>
        <input matInput formControlName="birthyear" >
      </label>
      <div>
        <span>Hobbies :</span>
        <span *ngFor="let hobby of unicorn.hobbies">
          {{ hobby }}
        </span>
      </div>
      <div>
        <span>Capacities :</span>
        <span *ngFor="let capacity of unicorn.capacities">
          {{ capacity }}
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" [disabled]="updateForm.invalid">Save</button>
    </mat-card-actions>
   </form>
  </mat-card>
